#blogs .leftColumn .section { padding: 10px; background: url(/images/core/gradients/blogpost.png) top repeat-x #030303; }

#blogs h1.postHeading { color: #ABA0C0; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 25px; line-height: 1.2em; margin-bottom: 5px; }

#blogs .advert { width: 300px; margin: 15px auto; background: #666; height: 250px; }


#blogs .postMeta { padding-bottom: 3px; overflow: auto; }

#blogs .postMeta .posted { display: block; float: left; }

#blogs .postMeta .numComments { display: block; float: right; background: url(/images/core/icons/comments.png) left no-repeat; padding-left: 19px; }

#blogs .post { padding-top: 12px; border-top: 3px solid #555; }

#blogs .post img { border: 1px solid #555; margin: 0 auto 15px; display: block; }


#blogs .comments { 
	overflow: auto; 
	margin: 0 auto; 
	padding: 20px 0 15px; 
	width: 530px; 
	/*min-height: 400px;  Greenhill - 10/02/2011 - Added to stop a slidebar rendering bug on blog comment forms */
	font-family: Tahoma, Geneva, sans-serif; 
	overflow-x: hidden;
}

#blogs .comments .viewAll { padding: 7px; color: #bbb; font-size: 11px; background: #111; margin-bottom: 2px; border: #0f0f0f solid 1px; overflow: auto; }

#blogs .comments textarea { background: #0f0f0f; border: #191919 1px solid; color: #ccc; height: 60px; width: 518px; padding: 5px; font-family: Tahoma, Geneva, sans-serif; margin: 10px 0 10px; font-size: 12px; }

#blogs .comments .comment { overflow: auto; padding: 7px; color: #bbb; background: #111; margin-bottom: 2px; border: #0f0f0f solid 1px; }

#blogs .comments .comment .photo { display: block; float: left; width: 50px; margin: 0 !important; }

#blogs .comments .comment .body { overflow: auto; float: right; width: 453px; }

#blogs .comments .comment .remove { font-size: 11px; float: right; display: block; width: 75px; line-height: normal; }

#blogs .comments .comment .remove a { padding-left: 10px; }

#blogs .comments .comment .user { color: #a56efd; font-weight: bold; display: block; width: 300px; float: left; line-height: normal; margin-bottom: 2px; }

#blogs .comments .comment .posted { display: block; color: #666; font-size: 11px; clear: both; }

#blogs .comments .comment .content { display: block; padding-top: 7px; }


#blogs .blogvitals { display: inline-block; width: 100%; } /* overflow: auto; was removed to prevent ie 8 spazzing */

#blogs .blogvitals .info { margin-left: 7px; width: 420px; float: left; overflow: auto; }

#blogs .blogvitals .thin { width: 200px !important; }

#blogs .blogvitals .info h3 { font-size: 17px; margin: 5px 0 3px; line-height: 20px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }


#blogs .blogstats { overflow: auto; display: inline-block; padding: 0; margin: 10px 0 20px 0; list-style: none; }

#blogs .blogstats li { float: left; text-align: center; }

#blogs .blogstats li.postCount { border-right: #222 1px solid; padding: 0 20px 0 24px; width: 48px; }

#blogs .blogstats li.commentCount { padding: 0 20px; width: 60px; }

#blogs .blogstats li.followerCount { border-left: #222 1px solid; padding: 0 24px 0 20px; width: 60px; }

#blogs .blogstats li .value { display: block; font-size: 22px; color: #ABA0C0; }