<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".js" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="00:00:10" />
            </profiles>
        </caching>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:15:00" /> 
        </staticContent>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    </system.webServer>
</configuration>
