<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".js" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="00:00:10" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
