<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=.\SQLEXPRESS;Database=pnight;Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.webServer>
		<rewrite>
            <rules>
                <clear />
                <rule name="Redirect Blog Post" stopProcessing="true">
                    <match url="^pages/blogs/post\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="post/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite Blog Post" enabled="true" stopProcessing="true">
                    <match url="^post/([^/]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/blogs/post.php?id={R:1}" />
                </rule>
                <rule name="Redirect Blog Control Panel" enabled="true" stopProcessing="true">
                    <match url="^pages/blogs/editblog\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="blog/edit" appendQueryString="true" />
                </rule>
                <rule name="Rewrite Blog Control Panel" enabled="true" stopProcessing="true">
                    <match url="^blog/edit$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/blogs/editblog.php" />
                </rule>
                <rule name="Redirect Blogs RSS" enabled="true" stopProcessing="true">
                    <match url="^pages/blogs/rss\.xml$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="blogs/rss" appendQueryString="false" />
                </rule>
                <rule name="Rewrite Blogs RSS" enabled="true" stopProcessing="true">
                    <match url="^blogs/rss$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/blogs/rss.xml" />
                </rule>
                <rule name="Redirect Filter Blogs Homepage" stopProcessing="true">
                    <match url="^pages/blogs/blogs\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^filter=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="blogs/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite Filter Blogs Homepage" stopProcessing="true">
                    <match url="^blogs/([^/]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/blogs/blogs.php?filter={R:1}" />
                </rule>
                <rule name="Redirect Blogs Homepage" enabled="true" stopProcessing="true">
                    <match url="^pages/blogs/blogs\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="blogs" appendQueryString="false" />
                </rule>
                <rule name="Rewrite Blogs Homepage" enabled="true" stopProcessing="true">
                    <match url="^blogs$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/blogs/blogs.php" />
                </rule>
                <rule name="Redirect Blog Homepage" stopProcessing="true">
                    <match url="^pages/blogs/blog\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="blog/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite Blog Homepage" stopProcessing="true">
                    <match url="^blog/([^/]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/blogs/blog.php?id={R:1}" />
                </rule>
                <rule name="Redirect Homepage To Blogs" enabled="false" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:0}/blogs" />
                </rule>
                <rule name="Redirect Photo w Size" stopProcessing="true">
                    <match url="^pages/getphoto/GetPhoto\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)&amp;size=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="photo/{C:1}/{C:2}" appendQueryString="true" />
                </rule>
                <rule name="Rewrite Photo w Size" stopProcessing="true">
                    <match url="^photo/([^/]+)/([^/]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/getphoto/GetPhoto.php?id={R:1}&amp;size={R:2}" />
                </rule>
                <rule name="Redirect Photo" stopProcessing="true">
                    <match url="^pages/getphoto/GetPhoto\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="photo/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite Photo" stopProcessing="true">
                    <match url="^photo/([^/]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/getphoto/GetPhoto.php?id={R:1}" />
                </rule>
                <rule name="Redirect Contact" stopProcessing="true">
                    <match url="^pages/general/company/contact\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="contact" appendQueryString="false" />
                </rule>
                <rule name="Rewrite Contact" stopProcessing="true">
                    <match url="^contact$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/general/company/contact.php" />
                </rule>
                <rule name="Redirect Bloggers" stopProcessing="true">
                    <match url="^pages/general/opportunities/bloggers\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="bloggers" appendQueryString="false" />
                </rule>
                <rule name="Rewrite Bloggers" stopProcessing="true">
                    <match url="^bloggers$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/general/opportunities/bloggers.php" />
                </rule>
                <rule name="Redirect About" stopProcessing="true">
                    <match url="^pages/general/company/about\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="about" appendQueryString="false" />
                </rule>
                <rule name="Rewrite About" stopProcessing="true">
                    <match url="^about$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="pages/general/company/about.php" />
                </rule>
            </rules>
            <outboundRules>
                <clear />
                <rule name="Rewrite internal links" preCondition="ResponseIsHtml1" enabled="true">
                    <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^((?!(http://)|(https://)|(http:\\/\\/)|(https:\\/\\/)|(\\/)).)*$" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="http://{HTTP_HOST}/{R:0}" />
                </rule>
                <rule name="Rewrite Blog Post" preCondition="ResponseIsHtml1" enabled="true">
                    <match filterByTags="A, Form, Frame, IFrame" pattern="^(.*/)pages/blogs/post\.php\?id=([^=&amp;]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="{R:1}post/{R:2}" />
                </rule>
                <rule name="Rewrite Blog Control Panel" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*/)pages/blogs/editblog\.php(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="{R:1}blog/edit{R:2}" />
                </rule>
                <rule name="Rewrite Blogs RSS" preCondition="ResponseIsHtml1" enabled="true">
                    <match filterByTags="A, Form, Img" pattern="^(.*)pages/blogs/rss\.xml$^(.*/)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="{R:1}blogs/rss" />
                </rule>
                <rule name="Rewrite Filter Blogs Homepage" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*/)pages/blogs/blogs\.php\?filter=([^=&amp;]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="{R:1}blogs/{R:2}" />
                </rule>
                <rule name="Rewrite Blogs Homepage" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Frame, IFrame" pattern="^(.*)pages/blogs/blogs\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="{R:1}blogs" />
                </rule>
                <rule name="Rewrite Blog Homepage" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*/)pages/blogs/blog\.php\?id=([^=&amp;]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="{R:1}blog/{R:2}" />
                </rule>
                <rule name="Rewrite Photo w Size" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)pages/getphoto/GetPhoto\.php\?id=([^=&amp;]+)&amp;size=([^=&amp;]+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="{R:1}photo/{R:2}/{R:3}" />
                </rule>
                <rule name="Rewrite Photo" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)pages/getphoto/GetPhoto\.php\?id=([^=&amp;]+)$" />
                    <action type="Rewrite" value="{R:1}photo/{R:2}" />
                </rule>
                <rule name="Rewrite Contact" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)pages/general/company/contact\.php$" />
                    <action type="Rewrite" value="{R:1}contact" />
                </rule>
                <rule name="Rewrite Bloggers" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)pages/general/opportunities/bloggers\.php$" />
                    <action type="Rewrite" value="{R:1}bloggers" />
                </rule>
                <rule name="Rewrite About" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)pages/general/company/about\.php$" />
                    <action type="Rewrite" value="{R:1}about" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/pages/errors/error.php?code=404" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/pages/errors/error.php?code=500" responseMode="ExecuteURL" />
        </httpErrors>
        <caching enabled="true" enableKernelCache="true">
            <profiles>
            </profiles>
        </caching>
        <httpRedirect enabled="false" destination="" exactDestination="false" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
