<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="00:15:00" />
				<add extension=".png" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00" />
            </profiles>
        </caching>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="14.00:00:00" /> 
        </staticContent>
    </system.webServer>
</configuration>
