<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".php" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:59:59" varyByQueryString="id, size" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
